#header{
    width: 100%;
    height: 3rem;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 10%;
    background-color: #f7f7f7;
}

#menu-container{
    width: 100%;
    height: 2rem;
    display: inline-flex;
}

.container-logo{
    padding: 0rem;
    margin: 0;
}

#imagotipo{
    display: inherit;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
}

#top-menu{
    list-style: none;
    display: inline-block;
}

#top-menu li{
    display: inline-flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0;
}